
@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks</h2>
<div class="container" style="text-align:center;">
    <h1>All Changes is Complete right </h1>
    <h4>back to List to see Changes</h4>
    @Html.ActionLink("Back","Index","Student",new { @class="btn btn-success"})
</div>

