@model Student
<div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPassword" class="control-label"></label>
                <input asp-for="CPassword" class="form-control" />
                <span asp-validation-for="CPassword"></span>
            </div>

            <div class="form-group">
                <label asp-for="DeptID" class="control-label"></label>
                <select asp-for="DeptID"asp-items="ViewBag.depts" class="form-control">
                    <option>
                        select the department
                    </option>
                </select>
                </div>
            <div class="form-group">
                <label asp-for="imagepath" class="control-label"></label>
                <input type="file" asp-for="image" class="form-control" />
                <span asp-validation-for="image"></span>
            </div>
